body {
  width: 100%;
  background-color: red;
  overflow: hidden;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 32pt;
}

input {
  color: #000 ;
}

.uneaten-title {
  text-align: center;
}

.title {
  font-family: 'Indie Flower', cursive;
  font-size: 70px;

}


ul.uneaten li{
  display: inline-block;
  float: left;
  list-style-type:none;
  margin: 10px;
}

#update {
text-align: center;
}

#eaten {
  text-align: center;
}

.burgers-eaten {
  overflow-y: scroll;
}

button {
  background-color: #000;
  color: yellow;
}
